@page
@model DetailsModel
@{
    ViewData["Title"] = "Product Details";
}

<h2>Product Details</h2>

<div>
    <label>Product Name:</label>
    <span>@Model.Product.Name</span>
</div>
<div>
    <label>Product ID:</label>
    <span>@Model.Product.Id</span>
</div>
