@page
@model DetailsModel
@{
    ViewData["Title"] = "Product Details";
}

<h2>Product Details</h2>

<div>
    <label>Nome:</label>
    <span>@Model.Product.Name</span>
</div>
<div>
    <label>ID:</label>
    <span>@Model.Product.Id</span>
</div>

<div>
    <label>Descrição:</label>
    <span>@Model.Product.Descricao</span>
</div>

<div>
    <label>Quantidade:</label>
    <span>@Model.Product.Id</span>
</div>



