@page
@model IndexModel
@{
    ViewData["Title"] = "Estoque";
}

<div class="text-center">
    <h1 class="display-4">Estoque</h1>
    <p>ID    NOME                         QTD</p>
    <p>A    aaaaaaaa                         2</p>



</div>
