@page
@model PrivacyModel
@{
    ViewData["Title"] = "";
}
<h1>@ViewData["Title"]</h1>

<h1 class="display-4">Sobre mim!</h1>
<p>

    Desenvolvedor C# com sólida experiência no ecossistema .NET, com foco especializado nas tecnologias SAP. Profundo entendimento de SQL e aplicação de regras de negócio voltadas para relatórios e gestão empresarial. Possuo habilidades avançadas em programação orientada a objetos, lógica de programação, estruturas de dados e programação funcional. Destaco minha expertise no desenvolvimento de addons para o SAP B1, além de uma compreensão aprofundada das regras de negócio relacionadas a sistemas ERP.



</p>
<p>

    Tenho grande curiosidade e dedicação ao aprendizado contínuo, mantendo-me atualizado sobre as últimas tendências em programação e negócios. Minha paixão pela leitura, participação em cursos e prática constante refletem meu compromisso em aprimorar minhas habilidades nas linguagens e tecnologias que já domino, assim como em explorar novas fronteiras. Busco constantemente integrar uma variedade de conhecimentos em minha rotina, aplicando-os de maneira proativa às minhas responsabilidades e compartilhando aprendizados valiosos com a equipe sempre que possível. Estou comprometido em agregar um diferencial significativo à dinâmica do time, impulsionando o sucesso coletivo.
</p>

<a href="https://www.linkedin.com/in/oani-silva-costa/">
    <img src="https://logospng.org/download/linkedin/logo-linkedin-icon-1536.png" alt="LinkedIn Logo" width="50px">
</a>

