@page
@model PrivacyModel
@{
    ViewData["Title"] = "Produto";
}
<h1>@ViewData["Title"]</h1>

<h1 class="display-4">Produto</h1>
<p>Nome</p>
<textarea></textarea>

<p>Quantidade</p>
<textarea></textarea>


